{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                {% csrf_token %}
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>
                </div>

                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                    </div>
                </div>

                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
        </div>

        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Razorpay Options</small>
            <div id="razorpay-button-container"></div>
        </div>

    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div style="flex:2">
                    <p>{{item.product.name}}</p>
                </div>
                <div style="flex:1">
                    <p>${{item.product.price|floatformat:2}}</p>
                </div>
                <div style="flex:1">
                    <p>x{{item.quantity}}</p>
                </div>
            </div>
            {% endfor %}
            <h5>Items: {{order.get_cart_items}}</h5>
            <h5>Total: {{order.get_cart_total|floatformat:2}}</h5>
        </div>
    </div>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var total = '{{order.get_cart_total}}'
    var form = document.getElementById('form')
    var csrftoken = form.getElementsByTagName("input")[0].value

    form.addEventListener('submit', function (e) {
        e.preventDefault()
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
        submitFormData()
    })

    function submitFormData() {
        console.log('Payment button clicked')

        var userFormData = {
            'name': form.name.value,
            'email': form.email.value,
            'total': total,
        }

        var shippingInfo = {
            'address': form.address.value,
            'city': form.city.value,
            'state': form.state.value,
            'zipcode': form.zipcode.value,
        }

        fetch('/process_order/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'form': userFormData, 'shipping': shippingInfo })
        })
            .then((response) => response.json())
            .then((data) => {
                console.log('Success:', data);
                var options = {
                    "key": "rzp_test_0HWbTWte3nDkdz", // Enter the Key ID generated from the Dashboard
                    "amount": data.amount, // Amount is in currency subunits. Default currency is INR.
                    "currency": data.currency,
                    "name": "Your Company Name",
                    "description": "Test Transaction",
                    "image": "https://example.com/your_logo.jpg",
                    "order_id": data.orderID, // This is a sample Order ID. Pass the `id` obtained in the previous step
                    "handler": function (response) {
                        alert('Payment successful!');
                        window.location.href = "{% url 'store' %}"
                    },
                    "prefill": {
                        "name": form.name.value,
                        "email": form.email.value,
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.on('payment.failed', function (response) {
                    alert('Payment failed. Please try again.');
                });
                rzp1.open();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }
</script>
{% endblock content %}